@page "/narudzbina/create"
@layout FullScreenLayout
@using Budjoni.DAL
@using Budjoni.DAL.Models
@using BlazorInputFile
@using System.IO
@using Budjoni.Services
@using Budjoni.Data
@inject NavigationManager NavigationManager
@inject ApplicationDbContext Db
@inject ModelService ModelService
@inject BexAddressService BexAddressService
@inject IJSRuntime JS


<div>
    <div class="mat-layout-grid" style="padding:2px 10px ">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatStringField Label="Prezime" Style="width:100%" @bind-Value="@narudzbina.Prezime" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatStringField Label="Ime" Style="width:100%" @bind-Value="@narudzbina.Ime" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatStringField Label="Telefon" Style="width:100%" @bind-Value="@narudzbina.KontaktTelefon" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatDatePicker Label="DatumSlanja" @bind-Value="@narudzbina.DatumSlanja" Format="dd-MM-yyyy" />
            </div>
        </div>
        <div class="mat-layout-grid-inner">

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatStringField Label="mesto" Disabled Style="width:100%" @bind-Value="@odabranoMesto" />
                <MatStringField Label="Pretrazi mesto" style="width:100%" OnInput="OnMestoSearchTextChanged" @bind-Value="@mestoSearchText" />
                <div style="max-height: 300px;overflow-y: auto">
                    @foreach (var mesto in pretrazenaMesta)
                    {
                        <div>
                            <MatButton OnClick="@(()=> IzaberiMestoAsync(mesto))">@mesto.TextZaPrikaz</MatButton>
                        </div>
                    }
                </div>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatStringField Label="ulica" Disabled Style="width:100%" @bind-Value="@odabranaUlica" />
                <MatStringField Label="Pretrazi ulicu" Style="width:100%" OnInput="OnUlicaSearchTextChanged" @bind-Value="@ulicaSearchText" />
                <div style="max-height: 300px;overflow-y: auto">
                    @foreach (var ulica in pretrazeneUlice)
                    {
                        <div>
                            <MatButton OnClick="@(()=>IzaberiUlicu(ulica))">@ulica.Naziv</MatButton>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <MatStringField Label="Kucni broj" Style="width:100%" @bind-Value="@narudzbina.KucniBroj" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <MatStringField Label="ulaz/stan" Style="width:100%" @bind-Value="@narudzbina.UlazIliStan" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <MatStringField style="width:100%" Label="Napomena za adresnicu" @bind-Value="@narudzbina.KucniBroj" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <MatStringField style="width:100%" Label="Napomena kuriru" @bind-Value="@narudzbina.UlazIliStan" />
            </div>
        </div>

        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <MatTextField style="width:100%" Label="Otkup" @bind-Value="@narudzbina.Otkup" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatSelect Label="Tezina" @bind-Value="@narudzbina.ShipmentCategory">
                    @foreach (var shipmentCategory in ShipmentCategories.All())
                    {
                        <MatOption TValue="int" Value="@shipmentCategory.IdKategorije">
                            @shipmentCategory.NazivKategorije
                        </MatOption>
                    }
                </MatSelect>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                <MatSelect Label="Nalog za adresnicu" @bind-Value="@narudzbina.IdNalogaSaKogSeSalje">
                    @foreach (var nalog in Nalozi.All())
                    {
                        <MatOption TValue="int" Value="@nalog.UserId">@nalog.DisplayName</MatOption>
                    }
                </MatSelect>
            </div>
        </div>

        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="text-align:center">
                <MatButton OnClick="OpenDialogAsync">
                    <span class="oi oi-plus" aria-hidden="true"></span>&nbsp;Dodaj model
                </MatButton>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatCard class="demo-mat-card">
                    <MatCardContent>
                        @if (narudzbina.DetaljiNarudzbine.Count > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Slika</th>
                                        <th>Model</th>
                                        <th>Kolicina</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detaljNarudzbine in narudzbina.DetaljiNarudzbine)
                                    {
                                        <tr>
                                            <td style="padding: 0">
                                                @detaljNarudzbine.VelicinaModela.BojaModela.NazivBoje
                                                <br/>
                                                 <img src="@detaljNarudzbine.VelicinaModela.BojaModela.GetImageSrc()" style="width: 100px" />
                                            </td>
                                            <td style="padding: 0">
                                                 @detaljNarudzbine.VelicinaModela.BojaModela.Model.NazivModela
                                                 <br/>
                                                 @detaljNarudzbine.VelicinaModela.BojaModela.Model.Sifra
                                            </td>
                                            <td style="padding: 0;text-align:center">
                                                 @detaljNarudzbine.Kolicina
                                            </td>
                                            <td>
                                                <MatButton >
                                                    <span class="oi oi-pencil" aria-hidden="true"></span>
                                                </MatButton>
                                                <MatButton >
                                                    <span class="oi oi-x" aria-hidden="true"></span>
                                                </MatButton>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </MatCardContent>
                </MatCard>
            </div>
        </div>

        <button type="submit" @onclick="Submit">Sacuvaj</button>
    </div>
</div>

<MatDialog @bind-IsOpen="@dialogIsOpen" CanBeClosed="false">
    <MatDialogTitle>
        <MatStringField style="width:100%" Label="Pretraga modela" @bind-Value="@textPretrage"  OnInput="OnTextPretrageChanged" />
    </MatDialogTitle>
    <MatDialogContent>
        <div class="mat-layout-grid" style="padding:2px 10px ">
            <div class="mat-layout-grid-inner">
                @foreach (var model in modeliObuceNaStanju)
                {
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="border-style: solid; border-color: rgb(98, 0, 238); border-width: 2px">
                        <MatCard>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="text-align: center">
                                <MatH6>@model.NazivModela - @model.Sifra </MatH6>
                            </div>
                            <div class="mat-layout-grid-inner">
                                @foreach (var bojaModela in model.BojeModela)
                                {
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4" >
                                        <MatCard @onclick="()=>OpenIzborVelicineDialog(bojaModela)">
                                            <MatCardContent >
                                                <MatSubtitle2 style="padding-left:10px">
                                                    @bojaModela.NazivBoje
                                                </MatSubtitle2>
                                                <MatSubtitle2 style="text-align: center">
                                                    <img src="@bojaModela.GetImageSrc()" style="width: 100px" />
                                                </MatSubtitle2>
                                            </MatCardContent>
                                        </MatCard>
                                    </div>
                                }
                            </div>
                        </MatCard>
                    </div>}
            </div>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { dialogIsOpen = false; })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>


<MatDialog @bind-IsOpen="@izborVelicineDialogIsOpen" CanBeClosed="false">
    <MatDialogContent>
        <MatSubtitle2 style="text-align: center">
            <img src="@izabranaBojaModela.GetImageSrc()" style="width: 100px" />
        </MatSubtitle2>
        <table class="table">
            <thead>
                <tr>
                    <th>velicina</th>
                    <th>Stanje</th>
                    <th>Kolicina</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detaljiNarudzbine in @noviDetaljiNarudzbine)
                {
                    <tr>
                        <td style="padding: 0; text-align: center">@detaljiNarudzbine.VelicinaModela.Velicina</td>
                        <td style="padding:0; text-align: center">@detaljiNarudzbine.VelicinaModela.KolicinaNaStanju</td>
                        <td style="padding:0">
                            <input @bind="@detaljiNarudzbine.Kolicina" style="width:100px" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { izborVelicineDialogIsOpen = false; })">Odustani</MatButton>
        <MatButton OnClick="@IzborVelicinaModela">OK</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    private Narudzbina narudzbina;
    private List<Mesto> _mesta = new List<Mesto>();
    List<Mesto> pretrazenaMesta = new List<Mesto>();
    string mestoSearchText = "";
    string odabranoMesto = "";

    private List<Ulica> _ulice = new List<Ulica>();
    List<Ulica> pretrazeneUlice = new List<Ulica>();
    string ulicaSearchText;
    string odabranaUlica;



    private Task OnMestoSearchTextChanged(ChangeEventArgs e)
    {
        mestoSearchText = e.Value.ToString();
        if (mestoSearchText.Length < 2)
        {
            StateHasChanged();
            return Task.CompletedTask;
        }


        pretrazenaMesta = _mesta.Where(s => s.TextZaPrikaz.ToLower().Contains(mestoSearchText.ToLower())).ToList();
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnUlicaSearchTextChanged(ChangeEventArgs e)
    {
        ulicaSearchText = e.Value.ToString();
        if (ulicaSearchText.Length == 0)
        {
            pretrazeneUlice = _ulice;
            StateHasChanged();
            return Task.CompletedTask;
        }


        pretrazeneUlice = _ulice.Where(s => s.Naziv.ToLower().Contains(ulicaSearchText.ToLower())).ToList();
        StateHasChanged();
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        narudzbina = new Narudzbina()
        {
            IdNalogaSaKogSeSalje = 1,
            ShipmentCategory = 3,
            DetaljiNarudzbine = new List<DetaljiNarudzbine>()
        };
        _mesta = await BexAddressService.GetMestaAsync();
    }

    async Task IzaberiMestoAsync(Mesto mesto)
    {
        narudzbina.IdMesta = mesto.IdMesta;
        odabranoMesto = mesto.TextZaPrikaz;
        odabranaUlica = null;
        _ulice = await BexAddressService.GetUliceAsync(mesto.IdMesta);
        pretrazeneUlice = _ulice;
        StateHasChanged();
    }

    void IzaberiUlicu(Ulica ulica)
    {
        narudzbina.IdUlice = ulica.Id;
        odabranaUlica = ulica.Naziv;
        StateHasChanged();
    }

    void Submit()
    {
        var x = narudzbina;
        //ModelObuceService.Create(narudzbina);
        //NavigationManager.NavigateTo("/narudzbine");
    }
    ///////////

    public List<Model> modeliObuceNaStanju = new List<Model>();
    bool dialogIsOpen = false;
    string textPretrage = "";
    void OpenDialogAsync()
    {
        var sviModeliObuceNaStanju = ModelService.ModeliNaStanju();
        var modeliUNarudzbini = narudzbina.DetaljiNarudzbine.Select(x => x.VelicinaModela.BojaModela.Model).AsEnumerable().Distinct();
        modeliObuceNaStanju = sviModeliObuceNaStanju.AsEnumerable().Except(modeliUNarudzbini).ToList();
        dialogIsOpen = true;
    }

    private void OnTextPretrageChanged(ChangeEventArgs e)
    {
        textPretrage = e.Value.ToString();
        pretraziModeleAsync();
    }

    private void pretraziModeleAsync()
    {
        List<Model> sviModeliObuceNaStanju;
        List<Model> modeliUNarudzbini;
        if (textPretrage.Length == 0)
        {
            sviModeliObuceNaStanju = ModelService.ModeliNaStanju();
            modeliUNarudzbini = narudzbina.DetaljiNarudzbine.Select(x => x.VelicinaModela.BojaModela.Model).AsEnumerable().Distinct().ToList();
            modeliObuceNaStanju = sviModeliObuceNaStanju.AsEnumerable().Except(modeliUNarudzbini).ToList();
            StateHasChanged();
        }

        sviModeliObuceNaStanju = ModelService.PretraziModeleNaStanjuPoNazivuIliSifri(textPretrage);
        modeliUNarudzbini = narudzbina.DetaljiNarudzbine.Select(x => x.VelicinaModela.BojaModela.Model).AsEnumerable().Distinct().ToList();
        modeliObuceNaStanju = sviModeliObuceNaStanju.AsEnumerable().Except(modeliUNarudzbini).ToList();
        StateHasChanged();
    }
    /// MODEL IZBOR VELICINE


    bool izborVelicineDialogIsOpen = false;
    BojaModela izabranaBojaModela = new BojaModela() { VelicineModela = new List<VelicinaModela>() };
    List<DetaljiNarudzbine> noviDetaljiNarudzbine = new List<DetaljiNarudzbine>();

    void OpenIzborVelicineDialog(BojaModela bojaModela)
    {
        izborVelicineDialogIsOpen = true;
        izabranaBojaModela = bojaModela;
        noviDetaljiNarudzbine = bojaModela.VelicineModelaNaStanju().Select(x => new DetaljiNarudzbine() { IdVelicineModela = x.Id, Kolicina = 0, VelicinaModela = x }).ToList();
        StateHasChanged();
    }

    void IzborVelicinaModela()
    {
        var detaljiNarudzbine = noviDetaljiNarudzbine.Where(x => x.Kolicina > 0).ToList();
        narudzbina.DetaljiNarudzbine.AddRange(detaljiNarudzbine);
        izborVelicineDialogIsOpen = false;
        pretraziModeleAsync();
        StateHasChanged();
    }
}
