@page "/narudzbine"
@using Budjoni.DAL
@using Budjoni.DAL.Models
@using Budjoni.Services
@inject IJSRuntime JsRuntime
@inject ApplicationDbContext Db
@inject BexAddressService BexAddressService

<h6>
    Narudžbine <button>
        <NavLink class="nav-link" href="narudzbina/create">
            <span class="oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </button>
</h6>



@if (narudzbine == null)
{
<p><em>Loading...</em></p> }
else
{

    @foreach (var narudzbina in narudzbine)
    {
        <MatCard class="demo-mat-card">
            <MatCardContent>
                <div class="demo-mat-card-content">
                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                        <div class="mat-layout-grid" style="padding:2px 10px ">
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">@narudzbina.Prezime @narudzbina.Ime - @narudzbina.KontaktTelefon</div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">@narudzbina.AdresaZaPrikaz</div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4" style="text-align: right"><div><b>SLANJE : </b>@narudzbina.DatumSlanja.ToString("dd-MM-yyyy")</div></div>
                            </div>
                        </div>


                    </MatSubtitle2>
                </div>
                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    Visit ten places on our planet that are undergoing the biggest changes today.
                </MatBody2>
            </MatCardContent>
        </MatCard>
    }
}
@code { 
    private List<Narudzbina> narudzbine;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            //narudzbine = Db.Naruzbine.ToList();
            narudzbine=new List<Narudzbina>(){new Narudzbina()
            {
                KucniBroj = "34",
                DatumSlanja = DateTime.Now,
                Prezime = "neko ime",
                Ime = "neko prezime",
                KontaktTelefon = "0651164545"
                
            }};
        });
    }

    async void IzbrisiModel(int id)
    {
        //bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Miro, da li si sigurna da hoces da obrises budjonija?");

        //if (!confirmed)
        //    return;

        //var modelObuce = Db.ModeliObuce.Find(id);
        //Db.ModeliObuce.Remove(modelObuce);
        //Db.SaveChanges();
        //narudzbine = Db.ModeliObuce.ToList();
        //StateHasChanged();
    } }
